<!DOCTYPE html>
<html>
<head>
    <title>Project Info</title>
</head>
<body>
    <!-- shows the project info for given title-->
    <h1>{{ project_title }}</h1>
    <p>{{ description }}
        <br>
        Max Grade: {{ max_grade }}</p>
        <br>
        <hr>
        <br>
    <h1>Students who have completed this project:</h1>
    <p>
<!-- first_name, last_name, grade, github -->
    {% for row in students %}
    <li> <a href="/student?github={{ row[3] }}">{{ row[0] }} {{ row[1] }}</a> {{ row[2] }}</li>
    {% endfor %}
    </p>


</body>
</html>