<!DOCTYPE html>
<html>
<head>
    <title>Project Tracker</title>
</head>
<body>
    <form action="/add-confirmation" method="POST">
        <label>Enter First Name</label>
            <input type="text" name="first_name">
        </label>
        <label>Enter Last Name</label>
            <input type="text" name="last_name">
        </label>
        <label>Enter Github ID</label>
            <input type="text" name="github">
        </label>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>